@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Light.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-MediumItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-ExtraLight.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Medium.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Italic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-BlackItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Black.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Thin.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-LightItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-BoldItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-SemiBold.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-ExtraBold.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-ThinItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}


@font-face {
    font-family: 'FiraMono';
    src: url('fonts/FiraMono/FiraMono-Bold.woff2') format('woff2'),
        url('fonts/FiraMono/FiraMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraMono';
    src: url('fonts/FiraMono/FiraMono-Regular.woff2') format('woff2'),
        url('fonts/FiraMono/FiraMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraMono';
    src: url('fonts/FiraMono/FiraMono-Medium.woff2') format('woff2'),
        url('fonts/FiraMono/FiraMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root
{
	--red-color: #ff5a5f;
	--black-color: #111;
	--white-color: #fff;
	--grey-color-one: rgba(0,0,0,0.8);
	--grey-color-three: rgba(0,0,0,0.7);
	--grey-color-two: rgba(0,0,0,0.3);

	--gradient-one: linear-gradient(150deg, rgba(240,171,34,1), rgba(240,34,34,1));
	--gradient-two: linear-gradient(150deg, rgba(208,237,64,1), rgba(90,172,23,1));
	--gradient-three: linear-gradient(150deg, rgba(46,101,240,1), rgba(146,9,214,1));
	--gradient-four: linear-gradient(150deg, rgba(44,232,163,1), rgba(57,113,204,1));
	--gradient-five: linear-gradient(150deg, rgba(104,44,232,1), rgba(204,57,74,1));
	--gradient-six: linear-gradient(150deg, #80D0C7 0%, #0093E9 100%);
	--gradient-seven: linear-gradient(150deg, #FFCC70 0%, #C850C0 50%, #4158D0 100%);
	--gradient-eight: linear-gradient(150deg, #F4D03F 0%, #16A085 100%);
}

*
{
	margin:0;
	padding:0;
	font-family:inherit;
	box-sizing: border-box;
}

::selection
{
	background: var(--red-color);
	text-shadow: none;
	color: var(--white-color);
}

body
{
	font-family: 'FiraSans';
	font-weight: 400;
	border-top: 4px solid var(--red-color);
	color: var(--black-color);
	font-size: 15px;
	line-height: 1.5;
	scroll-behavior: smooth;
	display: block;
}

main
{
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

p, ul, ol, pre, blockquote, hr, object
{
	margin: 1em 0;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: 500;
	color: var(--black-color);
	margin: 20px 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.35;
}

h1
{
	font-size: 36px;
	font-weight: 700;
}

h2
{
	font-size: 28px;
}

h3
{
	font-size: 24px;
}

h4
{
	font-size: 18px;
}

h5
{
	font-size: 16px;
}

h6
{
	font-size: 14px;
}

hr
{
	border: 0.5px solid #eee;
	margin: 20px 0px;
}

a
{
	color: var(--red-color);
	text-decoration: none;
	transition: 0.2s all ease;
}

a:hover
{
	color: var(--black-color);
}

.logo-link
{
	color: var(--black-color);
}

.trademark
{
	color: var(--red-color);
}

footer
{
	text-align: center;
	font-size: 10px;
	color: var(--grey-color-two);
	margin: 20px 0;
}

mark
{
	background-color: var(--black-color);
	color: var(--white-color);
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
}

blockquote
{
	border-left: 2px solid var(--red-color) !important;
    color: var(--red-color);
    font-size: 20px;
    font-weight: 400;
    padding: 0.5em 20px !important;
    margin: 1.5em 0px !important;
    font-style: normal !important;
    background: #fff !important;
}

blockquote p
{
	margin-bottom: 0px;
	margin-top: 0px;
}

.content
{
	font-weight: 400;
	max-width: 500px;
	width: 100%;
	margin:0 auto;
	background-color: white;
}

.content-html h2, 
.content-html h3
{
	margin-top: 40px;
	margin-bottom: 10px;
}

.content-html > ul,
.content-html > ol
{
	margin-left: 15px;
	font-style: italic;
}

.article-details
{
	margin: 20px 0px 0px  0px;
}

.article-container
{
	max-width: 700px;
	width: 100%;
	margin: 150px auto auto auto;
	background-color: white;
	position: relative;
	/*margin-top: -240px;*/
	padding: 75px 0px 50px 0px;
	border-radius: 5px 5px 0px 0px;
}

.navbar
{
	display: flex;
	align-items: center;
	margin: 1.618em 0 0.07em 0;
}

.header-logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 350px;
}

.header-logo img
{
	width: 100px;
	height: 100px;
}

.header-links
{
	margin-left: auto;
	list-style: none;
}

.header-links li
{
	display: inline-block;
	margin: 0 1em;
	font-size: 18px;
	color: var(--black-color);
}

.header-links li a
{
	color: var(--black-color);
}

.header-links li a:hover
{
	color: var(--red-color);
}

.header-links li:last-child
{
	margin-right: 0;
}

.logo-text
{
	margin-left: auto;
}

.logo-text .logo-title
{
	font-weight: 700;
	font-size: 24px;
	margin: 0px;
}

.logo-text .logo-subtitle
{
	font-weight: 400;
	margin: 0px;
	font-style: italic;
	font-size: 18px;
	color: var(--grey-color-three);
}

.title
{
	margin: 40px 0px;
	width: 100%;
	max-width: 500px;
	font-weight: 700;
	color: var(--red-color);
	font-size: 23px;
}

.posts-grid
{
	margin: 1.618em 0 1.618em 0;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.posts-card
{
	position: relative;
	border-radius: 5px;
	height: 100%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	transition: 0.2s all ease;
}

.posts-card::before
{
	content: '';
	display: block;
	position: absolute;
	background-color: rgba(255,255,255,0.2);
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.posts-card:hover
{
	cursor: pointer;
	transform: translateY(-3px);
}

.pc-header
{
	padding: 20px 20px 0px 0px;
	position: relative;
}

.pc-head-img
{
	width: 30px;
	height: 30px;
	background-size: cover;
	background-position: center;
	border-radius: 30em;
	margin-right: 20px;
}

.pc-head-author p
{
	display: inline;
	background-color: white;
	color: #111;
	padding: 0.08em 0.8rem;
	font-size: 11px;
	margin: 0px;
	font-style: italic;
}

.pc-head-author p i
{
	margin-right: 5px;
}

.pc-head-datetime
{
	font-weight: 300;
	font-size: 11px;
	color: rgba(0,0,0,0.6);
}

.pc-body
{
	position: relative;
	margin-left:0px;
	width: 160px;
}

.pc-body h4
{
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 15px;
	background-color: #111;
	color: white;
	display: inline;
	padding: 0.08em 0.8rem;
	-webkit-box-decoration-break: clone;
	line-height: 1.5;
	font-style: italic;
}

.pc-body p
{
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: -webkit-box;
	height: 100%;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
}

.pc-footer
{
	padding: 0px 0px 20px;
}

.pc-footer p
{
	display: inline;
	background-color: white;
	color: #111;
	padding: 0.08em 0.8rem;
	font-size: 11px;
	margin: 0px;
	position: relative;
	top: -3px;
	font-style: italic;
}

.pc-footer p i
{
	margin-right: 5px;
}

.clear-line
{
	height: 2.5px;
	width: 25px;
	margin-top: 15px;
	border-radius: 999em;
	/*display: none;*/
}

.card-bg-red
{
	background-color: var(--red-color);
}

.card-bg-yellow
{
	background-color: #FFC312;
}

.card-bg-blue
{
	background-color: #0052CC;
}

.card-bg-green
{
	background-color: #005643;
}

.card-bg-peach
{
	background-color: #F8C291;
}

.card-bg-teal
{
	background-color: #00B8D9;
}

.card-bg-purple
{
	background-color: #6554C0;
}

.card-bg-maroon
{
	background-color: #60082B;
}

.card-bg-darkblue
{
	background-color: #0D2381;
}

.card-bg-orange
{
	background-color: #FF6436;
}

.card-bg-greyblue
{
	background-color: #1E3264;
}

/*div[class*='card-bg']
{
	border: 2px solid rgba(0,0,0,0.1);
}
*/

/*div[class*='card-bg'] .pc-body h4,
div[class*='card-bg'] .pc-body p,
div[class*='card-bg'] .pc-footer p,
div[class*='card-bg'] .pc-footer p i
{
	text-shadow: 0 1px 2px rgba(0,0,0,0.18);
}*/

.card-bg-orange .pc-body h4,
.card-bg-orange .pc-body p,
.card-bg-orange .pc-footer p,
.card-bg-orange .pc-footer p i,
.card-bg-orange .pc-head-author p
{
	color: #1C316A;
}

.card-bg-maroon .pc-body h4,
.card-bg-maroon .pc-body p,
.card-bg-maroon .pc-footer p,
.card-bg-maroon .pc-footer p i,
.card-bg-maroon .pc-head-author p
{
	color: #CDB3FE;
}

.card-bg-greyblue .pc-body h4,
.card-bg-greyblue .pc-body p,
.card-bg-greyblue .pc-footer p,
.card-bg-greyblue .pc-footer p i,
.card-bg-greyblue .pc-head-author p
{
	color: #F772A1;
}

.card-bg-red .pc-body h4,
.card-bg-red .pc-body p,
.card-bg-red .pc-footer p,
.card-bg-red .pc-footer p i,
.card-bg-red .pc-head-author p
{
	color: #FFFFFF;
}

.card-bg-peach .pc-body h4,
.card-bg-peach .pc-body p,
.card-bg-peach .pc-footer p,
.card-bg-peach .pc-footer p i,
.card-bg-peach .pc-head-author p,
.card-bg-teal .pc-body h4,
.card-bg-teal .pc-body p,
.card-bg-teal .pc-footer p,
.card-bg-teal .pc-footer p i,
.card-bg-teal .pc-head-author p
{
	color: #1B1464;
}

.card-bg-green .pc-body h4,
.card-bg-green .pc-body p,
.card-bg-green .pc-footer p,
.card-bg-green .pc-footer p i,
.card-bg-green .pc-head-author p,
.card-bg-darkblue .pc-body h4,
.card-bg-darkblue .pc-body p,
.card-bg-darkblue .pc-footer p,
.card-bg-darkblue .pc-footer p i,
.card-bg-darkblue .pc-head-author p
{
	color: #FFD730;
}

.card-bg-blue .pc-body h4,
.card-bg-blue .pc-body p,
.card-bg-blue .pc-footer p,
.card-bg-blue .pc-footer p i,
.card-bg-blue .pc-head-author p
{
	color: #FFC312;
}

.card-bg-yellow .pc-body h4,
.card-bg-yellow .pc-body p,
.card-bg-yellow .pc-footer p,
.card-bg-yellow .pc-footer p i,
.card-bg-yellow .pc-head-author p
{
	color: #0652DD;
}

.card-bg-purple .pc-body h4,
.card-bg-purple .pc-body p,
.card-bg-purple .pc-footer p,
.card-bg-purple .pc-footer p i,
.card-bg-purple .pc-head-author p
{
	color: #FDA7DF;
}

.clear-line.card-bg-red
{
	background-color: #FFFFFF;	
}

.clear-line.card-bg-yellow
{
	background-color: #0652DD;	
}

.clear-line.card-bg-blue
{
	background-color: #FFC312;	
}

.clear-line.card-bg-green,
.clear-line.card-bg-darkblue
{
	background-color: #FFD730;	
}

.clear-line.card-bg-peach,
.clear-line.card-bg-teal
{
	background-color: #1B1464;	
}

.clear-line.card-bg-purple
{
	background-color: #FDA7DF;	
}

.clear-line.card-bg-maroon
{
	background-color: #CDB3FE;	
}

.clear-line.card-bg-orange
{
	background-color: #1C316A;	
}

.clear-line.card-bg-greyblue
{
	background-color: #F772A1;	
}


.article-bg-image
{
	margin-top: 20px;
	/*border-radius: 5px 5px 0px 0px;
	max-width: 1000px;
	height: 100%;
	width: 100%;*/
	position: absolute;
	left: 0;
	right: 0;
}

.content-title
{
	margin-bottom: 0px;
	margin-top: 10px;
}

.content-subtitle
{
	font-style: italic;
	font-weight: 400;
	color: var(--grey-color-two);
	margin-top: 10px;
	margin-bottom: 10px;
}

.content-subtitle p
{
	margin: 0;
}

.content-category
{
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	color: var(--red-color);
	margin: 0px;
}

.profile-pic
{
	width: 100%;
	max-width: 150px;
	float: right;
	border-radius: 5px;
	margin: 0px 0px 0px 30px;
}

.author-info
{
	display: flex;
	flex-direction: row;
}

.author-name
{
	font-weight: 500;
	margin: 0;
}

.date-published
{
	display: flex;
	margin-left: 30px;
}

.date-published p
{
	color: var(--grey-color-two);
	font-weight: 400;
	margin: 0;
}

.date-published img
{
	margin-right: 10px;
}

figure
{
	text-align: center;
	margin: 1em auto;
}

figure img
{
	min-width: 250px;
	max-width: 500px;
	width: auto;
	height: auto;
	border-radius: 5px;
	margin: auto;
}

figure figcaption
{
	text-align: center;
	font-weight: bold;
}

strong
{
	font-weight: bold;
}

pre
{
	margin-top: -10px;
	font-family: 'FiraMono';
	font-weight: 400;
	border-radius: 5px;
	font-size: 10px;
}

pre code
{
	overflow: auto;
	border-radius: 5px;
}

pre code::-webkit-scrollbar
{
    background-color: rgba(0,0,0,0.05);
    height: 5px;
    border-radius: 5px;
}

pre code::-webkit-scrollbar-thumb
{
	background-color: var(--red-color);
	border-radius: 5px;
}

iframe
{
	border: none;
}

button
{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ff5a5f;
    background-color: #ff5a5f;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    font-size: 13px;
    margin: 20px auto 0px auto;
    transition: 0.2s all ease;
}

button:hover
{
	color: #ff5a5f;
	background-color: white;
	cursor: pointer;
}

.mc-flexbox
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 250px;
}

.mc-flex-item
{

}

.mc-flex-item label
{
	font-weight: 600;
	margin-bottom: 10px;
	display: block;
}

select
{
	background-color: #e4e4e4;
	color: #5a5a5a;
	border-radius: 5px;
	height: 30px;
	border: none;
	font-size: 13px;
	display: block;
	padding: 5px 10px;
	outline: none;
}

.share-container
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 10px;
	font-size: 15px;
}

.share-container p
{
	font-weight: 600;
}

.share-container .share-links
{

}

.share-container .share-links a
{
	margin: 0px 10px;
	color: darkgrey;
}

.share-container .share-links a:hover
{
	color: rgba(0,0,0,0.7);
}

.share-container .share-links a:first-child
{
	margin-left: 0px;
}

.share-container .share-links a:last-child
{
	margin-right: 0px;
}

.post-notification
{
	border: 2px solid #403294;
	background-color: #EAE6FF;
	border-radius: 5px;
	padding: 10px;
	margin: 2em auto;
}

.post-notification h3,
.post-notification p,
.post-notification a
{
	margin: 0px;
	margin-bottom: 10px;
	font-size: 13px;
	color: #403294;
	font-style: italic;
}

.post-notification p
{
	margin-bottom:  0px;
}

.post-notification a
{
	font-weight: 500;
}