// Variables
$red-color: #ff5a5f;
$black-color: #111;
$white-color: #fff;
$grey-color-one: rgba(0,0,0,0.8);
$grey-color-three: rgba(0,0,0,0.7);
$grey-color-two: rgba(0,0,0,0.3);

// $gradient-one: linear-gradient(150deg, rgba(240,171,34,1), rgba(240,34,34,1));
// $gradient-two: linear-gradient(150deg, rgba(208,237,64,1), rgba(90,172,23,1));
// $gradient-three: linear-gradient(150deg, rgba(46,101,240,1), rgba(146,9,214,1));
// $gradient-four: linear-gradient(150deg, rgba(44,232,163,1), rgba(57,113,204,1));
// $gradient-five: linear-gradient(150deg, rgba(104,44,232,1), rgba(204,57,74,1));
// $gradient-six: linear-gradient(150deg, #80D0C7 0%, #0093E9 100%);
// $gradient-seven: linear-gradient(150deg, #FFCC70 0%, #C850C0 50%, #4158D0 100%);
// $gradient-eight: linear-gradient(150deg, #F4D03F 0%, #16A085 100%);


@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Light.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-MediumItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Medium.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Italic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-LightItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-BoldItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-SemiBold.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans/FiraSans-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/FiraSans/FiraSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FiraMono';
    src: url('fonts/FiraMono/FiraMono-Regular.woff2') format('woff2'),
        url('fonts/FiraMono/FiraMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
	/*margin:0;*/
	padding:0;
	font-family:inherit;
	box-sizing: border-box;
}

::selection
{
	background: $red-color;
	text-shadow: none;
	color: $white-color;
}

body
{
	font-family: 'FiraSans';
	font-weight: 400;
	// border-top: 4px solid $red-color;
	color: $black-color;
	font-size: 15px;
	line-height: 1.5;
	scroll-behavior: smooth;
	display: block;
	margin: 0 0 50px;
}

main
{
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;

	@media (min-width: 320px)
	and (max-width: 1100px) 
	{
		max-width: 85%;
	}

	&.article-main
	{
		max-width: 100%;
	}
}

p, ul, ol, pre, blockquote, hr, object
{
	margin: 1em 0;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: 500;
	color: $black-color;
	/*margin: 20px 0px;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
}

h1
{
	font-weight: 700;
}


hr
{
	border: 0.5px solid #eee;
	margin: 20px 0px;
}

a
{
	color: $red-color;
	text-decoration: none;
	transition: 0.2s all ease;

	&:hover
	{
		color: $black-color;
	}
}

.logo-link
{
	color: $black-color;
}

.trademark
{
	color: $red-color;
}

footer
{
	text-align: center;
	font-size: 10px;
	color: $grey-color-two;
	margin: 20px 0;
}

mark
{
	background-color: $black-color;
	color: $white-color;
	padding: 2px 6px;
	border-radius: 5px;
	font-size: 12px;
	font-family: 'FiraMono', monospace;
}

blockquote
{
	border-left: 2px solid $red-color !important;
    color: $red-color;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5em 20px !important;
    margin: 1.5em 0px !important;
    font-style: normal !important;
    background: #fff !important;

    p
	{
		margin-bottom: 0px;
		margin-top: 0px;
	}
}

.content
{
	font-weight: 400;
	max-width: 500px;
	width: 100%;
	margin:0 auto;
	background-color: white;

	ul,
	ol
	{
		margin-left: 15px;
		font-style: italic;
	}
}

.article-container
{
	max-width: 500px;
	width: 100%;
	margin: auto;
	background-color: white;
	position: relative;
	/*margin-top: -240px;*/
	padding: 30px 0px 50px 0px;

	@media (min-width: 320px)
	and (max-width: 767px)
	{
		padding: 30px 50px 50px;
	}
}

.navbar
{
	display: flex;
	align-items: center;
	margin: 50px auto;
	max-width: 1000px;

	@media (min-width: 320px)
	and (max-width: 767px)
	{
		// margin-top: 30px;
		flex-direction: column;
		justify-content: center;
	}
}

.header-logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 350px;

	@media (min-width: 320px)
	and (max-width: 767px)
	{
		flex-direction: column;
	}

	img
	{
		width: 100px;
		height: 100px;
	}
}

.header-links
{
	margin-left: auto;
	list-style: none;
	
	@media (min-width: 320px)
	and (max-width: 767px) 
	{
		margin-left: 0;
		margin-bottom: 0;
	}

	li
	{
		display: inline-block;
		margin: 0 1em;
		font-size: 18px;
		color: $black-color;

		a
		{
			color: $black-color;

			&:hover
			{
				color: $red-color;
			}

			&:last-child
			{
				margin-right: 0;
			}
		}
	}
}

.logo-text
{
	margin-left: auto;
	@media (min-width: 320px)
	and (max-width: 767px)
	{
		margin-left: 0;
		text-align: center;
	}

	.logo-title
	{
		font-weight: 700;
		font-size: 24px;
		margin: 0px;
	}

	.logo-subtitle
	{
		font-weight: 400;
		margin: 0px;
		font-style: italic;
		font-size: 18px;
		color: $grey-color-three;
	}
}

.clear-line
{
	height: 2.5px;
	width: 25px;
	margin-top: 15px;
	border-radius: 999em;
	/*display: none;*/
}

figure
{
	text-align: center;
	margin: 1em auto;

	img
	{
		min-width: 250px;
		max-width: 500px;
		width: auto;
		height: auto;
		border-radius: 5px;
		margin: auto;
	}

	figcaption
	{
		text-align: center;
		font-weight: bold;
	}
}

strong
{
	font-weight: bold;
}

pre
{
	/*margin-top: -10px;*/
	font-family: 'FiraMono';
	font-weight: 400;
	border-radius: 5px;
	font-size: 10px;

	code
	{
		overflow: auto;
		border-radius: 5px;

		&::-webkit-scrollbar
		{
		    background-color: rgba(0,0,0,0.05);
		    height: 5px;
		    border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb
		{
			background-color: $red-color;
			border-radius: 5px;
		}
	}
}

iframe
{
	border: none;
}

button
{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ff5a5f;
    background-color: #ff5a5f;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    font-size: 13px;
    margin: 20px auto 0px auto;
    transition: 0.2s all ease;

    &:hover
    {
		color: #ff5a5f;
		background-color: white;
		cursor: pointer;
    }
}

select
{
	background-color: #e4e4e4;
	color: #5a5a5a;
	border-radius: 5px;
	height: 30px;
	border: none;
	font-size: 13px;
	display: block;
	padding: 5px 10px;
	outline: none;
}

.share-container
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 10px;
	font-size: 15px;

	p
	{
		font-weight: 600;
	}

	.share-links 
	{
		a 
		{
			margin: 0px 10px;
			color: darkgrey;

			&:hover
			{
				color: rgba(0,0,0,0.7);
			}

			&:first-child
			{
				margin-left: 0px;
			}

			&:last-child
			{
				margin-right: 0px;
			}
		}
	}
}

.post-notification
{
	border: 2px solid #403294;
	background-color: #EAE6FF;
	border-radius: 5px;
	padding: 10px;
	margin: 2em auto;

	h3,p,a
	{
		margin: 0px;
		margin-bottom: 10px;
		font-size: 13px;
		color: #403294;
		font-style: italic;
	}

	p
	{
		margin-bottom:  0px;
	}

	a
	{
		font-weight: 500;
	}
}

table
{
	width: 100%;

	thead
	{
		tr
		{
			th
			{
				padding: 10px;
				text-align: left;
				background-color: #eee;
			}
		}
	}

	tbody
	{
		tr
		{
			&:nth-child(odd)
			{
				background-color: white;
			}
			
			&:nth-child(even)
			{
				background-color: #eee;
			}
			
			td
			{
				padding: 10px;
				font-style: italic;
			}
		}
	}
}