@font-face {
  font-family: "Gibson-Bold";
  src: url('fonts/gibson/bold-webfont.eot');
  src: url('fonts/gibson/bold-webfont.eot?#iefix') format('eot'), url('fonts/gibson/bold-webfont.svg') format('svg'), url('fonts/gibson/bold-webfont.woff') format('woff'), url('fonts/gibson/bold-webfont.otf') format('truetype');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Gibson-Bold";
    src: url('fonts/gibson/bold-webfont.svg') format('svg');
  }
}
@font-face {
  font-family: "Gibson-SemiBold";
  src: url('fonts/gibson/semibold-webfont.eot');
  src: url('fonts/gibson/semibold-webfont.eot?#iefix') format('eot'), url('fonts/gibson/semibold-webfont.svg') format('svg'), url('fonts/gibson/semibold-webfont.woff') format('woff'), url('fonts/gibson/semibold-webfont.otf') format('truetype');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Gibson-SemiBold";
    src: url('fonts/gibson/semibold-webfont.svg') format('svg');
  }
}
@font-face {
  font-family: "Gibson-Regular";
  src: url('fonts/gibson/regular-webfont.eot');
  src: url('fonts/gibson/regular-webfont.eot?#iefix') format('eot'), url('fonts/gibson/regular-webfont.svg') format('svg'), url('fonts/gibson/regular-webfont.woff') format('woff'), url('fonts/gibson/regular-webfont.otf') format('truetype');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Gibson-Regular";
    src: url('fonts/gibson/regular-webfont.svg') format('svg');
  }
}
@font-face {
  font-family: "Gibson-Light";
  src: url('fonts/gibson/light-webfont.eot');
  src: url('fonts/gibson/light-webfont.eot?#iefix') format('eot'), url('fonts/gibson/light-webfont.svg') format('svg'), url('fonts/gibson/light-webfont.woff') format('woff'), url('fonts/gibson/light-webfont.otf') format('truetype');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Gibson-Light";
    src: url('fonts/gibson/light-webfont.svg') format('svg');
  }
}