@import "base.scss";

.posts-grid
{
	margin: 1.618em 0 1.618em 0;
	display: grid;
	grid-gap: 15px;
	// grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.posts-card
{
	position: relative;
	transition: 0.2s all ease;
	height: 300px;
	border-radius: 0px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	box-shadow: none;
	border: 5px solid #111;

	&::before
	{
		display: none;
	}

	&:hover
	{
		cursor: pointer;
		transform: translateY(-3px);
	}

	.pc-title
	{
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: center;
		// width: 90%;
		width: 100%;
		height: 50%;
		background-color: #111;
		// height: 150px;
		padding: 25px;

		h5
		{
			color: #fff;
			font-weight: 300;
			margin: 0 0 5px;
			font-size: 11px;
		}

		h4
		{
			color: #fff;
			font-weight: 500;
			margin: 0;
			font-size: 15px;
		}
	}
}

#article-bg-image
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	border: 5px solid #111;
	border-left: none;
	border-right: none;
	// margin-top: 30px;
}

.post-details
{
	background-color: #111;
	max-width: 800px;
	height: 100%;
	color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0px;
	padding: 0 100px;

	@media (min-width: 320px)
	and (max-width: 800px)
	{
		padding: 0px;
	}

	.grid__item
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;
		padding: 50px;

		&:first-child
		{
			padding-bottom: 5px;
			justify-content: flex-end;
		}

		&:last-child
		{
			padding-top: 5px;
			justify-content: flex-start;
		}
	}

	h1, h5, p, h6
	{
		color: white;
	}

	h1
	{
		font-size: 32px;
		margin: 10px 0 0;
		line-height: 1.25;
	}

	h5,h6
	{
		margin: 0;
		font-weight: 200;
		font-size: 15px;
	}

	p
	{
		font-style: italic;
		font-weight: 300;
		margin: 0 0 10px;	
		font-size: 20px;
		line-height: 1.25;
	}
}

.intro-text
{
	max-width: 500px;
	margin: 30px 0px;

	span
	{
		color: #ff5a5f;
	}

	h2
	{
		font-weight: 700;
	}

	p
	{
		font-weight: 400;
		font-style: italic;
	}
}

.social-buttons
{
	$twitter-blue: #38A1F3;
	$github-black: #333;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-gap: 20px;
	margin-bottom: 35px;

	.btn
	{
		font-weight: 400;
		font-size: 15px;
		color: white;
		padding: 10px 20px;

		&.twitter
		{
			border: 1px solid $twitter-blue;
			background-color: $twitter-blue;

			&:hover
			{
				background-color: white;
				color: $twitter-blue;
			}
		}

		&.github
		{
			border: 1px solid $github-black;
			background-color: $github-black;

			&:hover
			{
				background-color: white;
				color: $github-black;
			}
		}

		&.coffee
		{
			border: 1px solid #ff5a5f;
			background-color: #ff5a5f;

			&:hover
			{
				background-color: white;
				color: #ff5a5f;
			}
		}

		i
		{
			margin-right: 5px;
		}
	}
}

.paginator
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #111;
	// width: 300px;
	color: white;
	margin: 30px auto;
	padding: 0px 20px;
	// border-radius: 30em;
	
	span
	{
		font-style: italic;
	}
	
	a
	{
		color: white;
		
		&:hover
		{
			color: #ff5a5f;
		}

		&.inactive
		{
			color: #555;
			cursor: default;
			pointer-events: none;
		}

		&.prev i
		{
			margin-right: 10px;
		}

		&.next i
		{
			margin-left: 10px;
		}
	}
}