@import "base.scss";

@mixin tag-span {
    padding: 3px 9px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: #ff5a5f;
    //color: $red-color;
    background-color: hsla(358, 100%, 68%, 0.2);
    //text-transform: lowercase;
    border-radius: 4px;
    border: 1px solid #ff5a5f;
}

body {
    background-color: #FAFAFA;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #2b2b2b;
    letter-spacing: -0.5px;
    position: relative;
    transition: 0.2s all ease;
}

.overlay {
    transition: 0.2s all ease;
    &::before {
        transition: 0.2s all ease;
        content: '';
        position: absolute;
        background-color: rgba(#333, 0.9);
        width: 100%;
        height: 100%;
        top: -30px;
    }
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    letter-spacing: -1.25px;
}

h2,h3,h4,h5,h6 {
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    letter-spacing: -1.25px;
    margin-bottom: -0.25em;
}
main {
    max-width: 600px;
    //background-color: #FFF;
}

strong {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

header, div {
    transition: 0.2s all ease;
}

.navbar {
    max-width: 600px;
    padding: 50px;
    margin: 30px auto;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #eaecee;
    border-radius: 4px;
}

.header-logo {
    width: 390px;

    @media (min-width: 320px)
    and (max-width: 767px) {
        width: 300px;
    }
}

._intro {
    max-width: 600px;
    padding: 30px 60px;
    margin: 30px auto;
    text-align: center;
    border-top: 1px solid #eaecee;
    border-bottom: 1px solid #eaecee;

    h1 {
        margin-top: 0px;
    }

    ._footer {
        margin-top: 20px;
        a {
            margin: 0px 10px;
            font-weight: 500;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.twitter {
                color: #38A1F3;
            }

            &.github {
                color: #333333;
            }

            &.mail {
                color: #888888;
            }

            &:hover {
                color: #ff5a5f;
            }

            i {
                margin-right: 5px;
            }
        }

        @media (min-width: 320px)
        and (max-width: 767px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                margin: 0;
            }
        }
    }
}

._til-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    
    ._item {
        background-color: #FFF;
        border-radius: 4px;
        border: 1px solid #eaecee;
        ._wrapper {
            max-width: 500px;
            margin: auto;
            // padding: 50px 0px;
            padding: 40px 0px 50px;

            @media (min-width: 320px)
            and (max-width: 767px){
                max-width: 300px;
            }
        }

        ._heading {
            text-align: center;

            p, h1 {
                transition: 0.2s all ease;
                line-height: 1.3;
                margin: 0 0 10px;
            }

            a {
                &:hover h1 {
                    color: #ff5a5f;
                }
            }
        }
        
        hr {
            border: 0.5px dashed #eaecee;
        }

        ._date {
            font-size: 12px;
            color: rgba(#111, 0.5);
            text-align: center;
            margin: 0;
        }

        li > code, p > code {
            background-color: #1c1d21;
            color: #c0c5ce;
            font-family: 'FiraMono';
            padding: 0.5px 2.5px;
            font-size: 11px;
            display: inline-block;
        }

        pre {
           margin: 2em -49px;
           border-radius: 0px;
           font-size: 11px;
           white-space: unset;
           code {
                white-space: pre-wrap;
                padding: 15px 50px 30px !important;
                //min-height: 100px;
                border-radius: 0px;
           }

           @media (min-width: 320px)
           and (max-width: 767px){
                margin: 2em auto;
           }
        }
        .tag span {
            @include tag-span;
        }
        
        ._footer {
            margin-top: 20px;
            margin-bottom: -15px;
            .share-container {
                margin: 0;
                padding: 0;
                border: none;
                flex-direction: column;
                p {
                   margin-top: 0; 
                   font-size: 12px;
                   color: rgba(#111, 0.5); 
                }
            }
        }
    }
}

.searchbox {
    position: relative;
    margin: 30px auto;
    max-width: 600px;

    summary {
        text-align: center;
    }

    input[type=text]{
        width: 100%;
        height: 45px;
        padding: 15px 15px 15px 40px;
        color: #111;
        border: 1px solid #eaecee;
        background-color: #eaecee;
        outline: none;
        border-radius: 4px;
        letter-spacing: -0.5px;
        font-weight: 600;
        transition: 0.2s all ease;
        &:focus {
            background-color: #fff;
        }
    }

    span.tag {
        @include tag-span;
        font-size: 10px;
        margin-right: 10px;
        padding: 2px 6px;
    }

    i {
        position: absolute;
        left: 15px;
        top: 17px;
        color: #111;
    }
}

.searchresults {
    ul {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #eaecee;
        display: none;
        list-style: none;
        width: 100%;
        position: absolute;

        li {
            padding: 15px;
            border-bottom: 1px solid #eaecee;
            transition: 0.2s all ease;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }

            &:hover {
                background-color: #ff5a5f;
                cursor: pointer;
                a {
                    color: #fff;
                }

                span.tag {
                    color: #fff;
                    background-color: rgba(#fff, 0.2);
                    border-color: #fff;
                }
            }
        }
    }
}